html{
    scroll-behavior: smooth;
}
/* font-family: 'Cinzel', serif;
font-family: 'Inconsolata', monospace;
font-family: 'Kdam Thmor Pro', sans-serif;
font-family: 'Lobster Two', cursive;
font-family: 'Outfit', sans-serif;
font-family: 'Source Code Pro', monospace; */
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h2{
    font-family: 'Source Code Pro', monospace;
    color: rgb(115, 115, 239);
    text-decoration: dotted 2px;
}
p{
    font-family: 'Kdam Thmor Pro', sans-serif; 
    font-size: 18px;
}

.betterme {
    font-weight: 900;
    font-size: 25px;
    color:#d1d1d1 ;
    padding: 90px;
    font-family: 'Lobster Two', cursive;
  }
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #000000;
  }
.navbar ul {
    list-style: none;
  }
.navbar ul li {
    display: inline-block;
    margin: 0px 8px;
    width: 70px;
  }
.navbar ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
  }
.navbar button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 20px;
  }
  .bg{
    background-image: url(../img/home/elon.webp);
    height: 80vh;
    position: 30%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: #ffffff; 
    background-color: #1d1c1c83;
    background-blend-mode: multiply;
}
.maincont{
    position:relative;
    text-align: center;
    width: 600px;
    top:250px;
    left: 600px;
    font-family: 'Inconsolata', monospace;
}
.start{
    background-color: red;
    padding: 15px 30px;
    border-radius: 25px;
    letter-spacing: 1px;
}
.maincont .start{
    background-color: red;
    position: relative;
    top: 30px;
    margin-left: 10px;
    border-radius: 25px;
}
.second{
    text-align: center;
    margin-top: 90px;
    width: 900px;
    margin-left: 250px;
}
#works{
    text-align: center;
   
    width: 900px;
  
    margin-left: 295px;
}

a{
    text-decoration: none ;
    color: #000000;
}
.detailuser{
    display: flex;
}
.detailuser img{
    width: 50px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.user{
    width: 300px;
    background-color: #cfcbcb;
    border-radius: 10px;
    padding: 30px 40px;
}
.review{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.subwork{
    display: flex;
    justify-content: space-evenly;
  
}
ul li{
    list-style: none;
    line-height: 50px;
}
#benifits{
    padding: 30px 100px;
    color: #ffffff;
    background-color: rgba(165,160,164,255)
    ;
}
.benifits{
    margin-top: 30px;
   display: flex;
   justify-content: space-around;
}
footer{
    background-color: cornsilk;
    padding: 40px;
}
.list img{
    width: 20px;
    margin-right: 10px;
}
.banner2 img{
    width: 700px;
    height: 350px;
}


#review{
    position: relative;
    right: 60px;
}
.sub1{
    background-color:antiquewhite;
    padding: 10px 10px;
 
    margin-right: 20px;
    margin-bottom: 40px;
}
.sub1 p{
    width: 280px;
}
.ARROW  img{
    width: 30PX;
}
.ARROW{
    padding: 10% 0px;
    margin-right: 10px;
}
